<nav [ngClass]="modoNocturnoActivo ? 'navbar navbar-dark navbar-expand-lg' : 'navbar navbar-expand-lg bg-body-tertiary'"
    [attr.data-bs-theme]="modoNocturnoActivo ? 'dark' : 'white'">
    <div class="container-fluid" style="margin-left: 30px;">
        <button class="navbar-toggler order-0" type="button" (click)="toggleNavbar()" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span><i class="fa-solid fa-user-secret informante" [ngClass]="modoNocturnoActivo ? 'informante-black' : 'informante-white'"></i></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 nav justify-content-center">
                <li class="nav-item">
                    <a routerLink="/" class="nav-link nav-inicio" aria-current="page">INICIO</a>
                </li>
                <li class="nav-item dropdown nav-margen">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        CATEGORÍAS
                    </a>
                    <ul class="dropdown-menu dropdown-menu-start nav-margen">
                        <li><a [routerLink]="verCategoria('POLÍTICA')" class="dropdown-item" aria-current="page">POLÍTICA</a></li>
                        <li [routerLink]="verCategoria('ECONOMÍA')" class="dropdown-item" aria-current="page">ECONOMÍA</li>
                        <li [routerLink]="verCategoria('DEPORTES')" class="dropdown-item" aria-current="page">DEPORTES</li>
                        <li><a [routerLink]="verCategoria('TECNOLOGÍA')" class="dropdown-item" aria-current="page">TECNOLOGÍA</a></li>
                        <li [routerLink]="verCategoria('EDUCACIÓN')" class="dropdown-item" aria-current="page">EDUCACIÓN</li>
                        <li [routerLink]="verCategoria('MUNDO GEEK')" class="dropdown-item" aria-current="page">MUNDO GEEK</li>
                        <li [routerLink]="verCategoria('CRIMEN Y JUSTICIA')" class="dropdown-item" aria-current="page">CRIMEN Y JUSTICIA</li>
                        <li [routerLink]="verCategoria('LITERATURA')" class="dropdown-item" aria-current="page">LITERATURA</li>
                        <li [routerLink]="verCategoria('FAMOSOS')" class="dropdown-item" aria-current="page">FAMOSOS</li>
                        <li [routerLink]="verCategoria('SALUD')" class="dropdown-item" aria-current="page">SALUD</li>
                    </ul>
                </li>
                <li class="nav-item nav-margen">
                    <a  class="nav-link" [routerLink]="verCategoria('POLÍTICA')" aria-current="page">POLÍTICA</a>
                </li>
                <li class="nav-item nav-margen">
                    <a  class="nav-link" [routerLink]="verCategoria('ECONOMÍA')" aria-current="page">ECONOMÍA</a>
                </li>
                
            </ul>
            <div>
                <label class="switch nav-margen">
                    <input id="checkbox" type="checkbox" (click)="toggleModoNocturno()" [checked]="modoNocturnoActivo">
                    <span class="slider round">
                        <span class="icon-modo-nocturno">
                            <i class="fas fa-moon"></i>
                        </span>
                        <span class="icon-modo-diurno">
                            <i class="fas fa-sun"></i>
                        </span>
                    </span>
                </label>
            </div>
        </div>
    </div>
</nav>
<router-outlet />

