.inicio {
  margin-top: 80px;
  width: 70%;
  padding-left: 20px;
}

.inicio-black {
  color: white;
}

@media only screen and (max-width: 768px) {
  .inicio img {
    max-width: 300px;
    width: 100%;
    height: auto;
  }
}
